




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .email_logo {
            background-color: #252947;
        }

        .email_logo img {
            margin-top: 35px;
            margin-left: 50px;
        
        }

        .welcome_card {
            text-align: center;
            margin-left: 13%;
            margin-right: 13%;
            
        }

        .card_align {
            border-radius: 16px;
            background: var(--netural-10, #FFF);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
            padding: 45px 0 35px 0;
        }

        .welcome_card h2 {
            color: var(--main, #252947);
            text-align: center;
            font-family: Mulish;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .welcome_card p {
            color: var(--main, #252947);
            text-align: center;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
        }

        .login_welcome_button {
            border-radius: 5px;
            background: #252947;
            color: white;
            padding: 15px 45px 15px 45px;
            margin-top: 20px;
        }

        .appSotroe {
            display: flex;
            justify-content: space-between;
            margin-top: 25%;
            padding-bottom: 10px;





        }

        .appSotroe h4 {
            color: var(--netural-100, #101010);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
        }

        .appSotroe span {
            color: var(--neutral-70, #606060);
            font-family: Mulish;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
            margin-top: 8px;
        }

        .border_align {

            border-bottom: 1px solid #BDBDBD;
            margin: 0px 130px 0 130px;
        }

        .facebook {
            padding-top: 15px;
margin-left: 13%;
        }

        .total_paid_align {
            text-align: center;
            display: flex;
            justify-content: center;
            /* position: absolute; */
            /* top: 66px; */
        }

        .paid_bacground {
            border-radius: 16px;
            background: #F7F9FA;
            margin: 0 35px 0 35px;
            padding: 30px 15px 15px 15px;
        }

        .paid_details {
            display: flex;
            justify-content: space-between;
            margin: 0 20px 0 20px;
            border-bottom: 1px solid #BDBDBD;
            color: var(--netural-100, #101010);
            text-align: right;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .tax_id1 {
            display: flex;
            align-items: baseline;
            margin: 5px 20px 0 20px;
            border-bottom: 1px solid #BDBDBD;

        }
.demo{
    /* position: absolute; */
            /* display: flex;
            justify-content: center; */
            padding-top: 10px;
            background: linear-gradient(to bottom, #252947 25%, transparent 25%);
}
        .tax_id1 h6 {
            margin-left: 77px;

        }

        .tax_id1 span {
            color: var(--suscess-main, #50CD89);
            font-family: Mulish;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 12px;
        }

        .tax_id {
            display: flex;
            align-items: baseline;
            margin: 5px 20px 0 20px;
            border-bottom: 1px solid #BDBDBD;


        }

        .tax_id h6 {
            margin-left: 100px;

        }

        .tax_id span {
            color: var(--netural-100, #101010);
            font-family: Mulish;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 10px;
        }

        .tax_id2 {
            display: flex;
            align-items: baseline;
            margin: 5px 20px 0 20px;
        }

        .tax_id2 h6 {
            margin-left: 65px;
            margin-right: 15px;
        }

        .tax_id2 span {
            color: var(--netural-100, #101010);

            font-family: Mulish;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

        }

        .paid_appSotroe {
            display: flex;
            /*justify-content:end*/
            /*margin-left: 5%;*/ 
            padding-bottom: 10px;
    justify-content: space-between;

        }

        .paid_appSotroe span {
            color: var(--neutral-70, #606060);
            font-family: Mulish;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
            margin-top: 8px;
        }

        .paid_appSotroe h4 {
            color: var(--netural-100, #101010);
            font-family: Mulish;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
        }
     

         @media only screen and (max-width: 768px) {
          
.welcome_card h2 {
            color: var(--main, #252947);
            text-align: center;
            font-family: Mulish;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
            .paid_appSotroe div {
                display: block;
              
            }

          
            .login_welcome_button {
                width: 80%;
            }
        }

        @media only screen and (max-width: 480px) {

.welcome_card h2 {
            color: var(--main, #252947);
            text-align: center;
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
     
             .paid_appSotroe div {
                display: block;
               
            }
        }
    </style>
</head>

<body>
    <div>
        <div >
            <div class="email_logo">
                <img src="  https://res.cloudinary.com/ds5q63dpl/image/upload/v1697445459/Pocket/user/pockelogo_xwyig0.jpg" alt="pockets" />
            </div>
            <div class="demo">

                <div class="welcome_card">
                    <div class="card_align" >
                       <img  src="https://res.cloudinary.com/ds5q63dpl/image/upload/v1697445391/Pocket/user/Group_4_q2a6lk_tityir.jpg" alt="Cloudinary Image">
                        <h2>Your file is ready for export</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, <br />dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem <br />sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum<br /> velit, sit amet feugiat lectus.</p> 
                       <a href=""> <button class="login_welcome_button">
                            Export
                        </button></a>
                    </div>
                </div>
                <div class="paid_appSotroe">
                    <div style="margin-left: 10%;">
                        <h4>Have more questions ?</h4>
                        <span>Write us: hello@pocketgiving.co.uk</span><br /><br />
                        <span>Call: 07867793736</span>
                    </div>
                    <div style="margin-left: 30%;" >
                        <h4>Download our app</h4>
                        <div style="margin-right:16px">
                             <a href="https://play.google.com/store/apps/details?id=com.pockets.pockets&pcampaignid=web_share">
                                <img src="https://res.cloudinary.com/ds5q63dpl/image/upload/v1697445438/Pocket/user/googleplaypocket_jsxzwk.jpg" alt="playstore" />
                                </a>
                                <a href="https://appstoreconnect.apple.com/apps/6456887391/appstore/ios/version/inflight">
                                    <img src="https://res.cloudinary.com/ds5q63dpl/image/upload/v1697445444/Pocket/user/apppocket_sffecg.jpg" alt="appstore" />
                                </a>
                        </div>
                    </div>
        
                </div>
                <div class="border_align"></div>
              
            </div>
            

        </div>
       
    </div>
</body>

</html>