<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .Para {
            color: rgb(0, 0, 0);
        }

        .Para {
            color: hsl(0, 0%, 0%);
            font-size: 14px;
            padding-right: 5%;
            font-family: 'Calibri';
        }
        .ParaHead{
            color: rgb(0, 0, 0);
            font-size: 14px;
            padding-right: 5%;
            font-family: 'Calibri';
        }
    </style>
    {{!-- <script>
      //var Student = localStorage.getItem('nameofstudent')
    </script> --}}

</head>

<body>
   <p class="ParaHead">Dear {{Username}}!</p>
    <p class="Para">Your Emailid is: {{Email}}</p>
    <p class="Para">Your account has been activated now!!!</p>
 
</body>

</html>
   